.collection-item{
    width : 22%;
    height: 300px;
    position: relative;
    .image{
        width:100%;
        height: 95%;
        background-position: center;
        background-size: cover;
    }
    .collection-footer{
        display : flex;
        justify-content: space-between;
    }
    .sign-in-sign-up-btn{
        position: absolute;
        display: flex;
        margin : auto 0;
        margin-left : 3.5rem;
        top: 220px;
        display: none;
    }
    &:hover{
        .sign-in-sign-up-btn{
            display: flex;
            opacity: 0.7;
        }
        .image{
            opacity: 0.7;
        }
    }

}