.sign-in-form {
  width: 40%;
  .text {
    margin-bottom: 3rem;
  }
  .input {
    width: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 1rem 0 1rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid grey;
  }
}
