.section {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  margin-bottom: 14px;
  margin-left: 7px;
  margin-right: 7px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  &:hover{
      cursor: pointer;
      .background-image{
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
      .content{
          opacity: 0.9;
      }
  }
  .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
  }
  .content {
    border: 1px solid grey;
    padding: 0 25px;
    opacity: 0.7;
    background-color: #ccc;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }
    .subtitle {
      font-size: 16px;
    }
  }
}

.large {
  height: 300px;
}
