.collection-preview{
    display : flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .title{
        margin-bottom: 1rem;
    }
    .preview{
        display : flex;
        justify-content: space-between;
    }
}